body {
    background-color: #000000;
}
h1{
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}
.top nav {
    text-align: center;
}
.top nav .link{
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    margin: 0 20px;
}
.top .blurb{
    color: #ffffff;
    text-align: center;
    font-size: 75%;
    font-family: 'Courier New', Courier, monospace;
    margin:5%;
}
.mfont{
    color: #ffffff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.abt{
     color: #ffffff;
    text-align: center;
    font-size: 75%;
    font-family: 'Courier New', Courier, monospace;
    margin:5%;
}
.cent{
     color: #ffffff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin:5%;
}
.proj{
    color: #ffffff;
    text-align: center;
    font-size: 75%;
    font-family: 'Courier New', Courier, monospace;
    margin:5%;
}
.projectimage{
    display: block;
    margin: auto;
    width: 75%;
}
.capt{
    color: #ffffff;
    text-align: center;
    font-size: 75%;
    font-family: 'Courier New', Courier, monospace;
    margin:5%;
}
.msn{
    color: #ffffff;
    text-align: center;
    font-size: 75%;
    font-family: 'Courier New', Courier, monospace;
    margin:5%;
}
.cred{
     color: #ffffff;
    text-align: center;
    font-size: 75%;
    font-family: 'Courier New', Courier, monospace;
    margin:5%;
}
.cat{
    display: block;
    margin: auto;
    width: 30%;
}
.code{
    display: block;
    margin: auto;
    width: 30%;
}
.hc{
    display: block;
    margin: auto;
    width: 30%;
}
.imgsize{
    width: 100vw;
    max-width: 100%;
    height: auto;
    object-fit: contain;

}
